* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  background-color: rgb(74, 74, 74);
}

.picker {
  width: 100%;
  height: 80%;
  margin: 0;
}

.downloadSection {
  width: 100%;
  height: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}